
body {
    background-color:rgb(8, 7, 7);
    margin: 0;
}



h1 {
    margin-left: 450px;
    margin-top: 10px;
}
h2 {
    font-size:medium;
    
}

.feedprincipal{
    box-sizing: content-box;  
  width: 200px;
  height: 100px;
  padding: 120px;  
  border: 2px rgb(2, 0, 128);
  margin-left: 450px;
  margin-top: 40px;
}
.h1fd{
    box-sizing: content-box;  
  width: 532px;
  height: 30px;
  margin-left: -118px;
  margin-top: -115px;
  padding-bottom: 20px;
  position: relative;
  background-color:rgb(248, 246, 244) ;
  
}
#titulo{
    display: flex;
    margin-left: 15px;
    padding-top: 10px;
    
}
#puntos {
    font-size: xx-large;
    color: grey;
    margin-left: 510px;
    margin-top: -50px;
}
#coment{
    box-sizing: content-box;  
    width: 530px;
    height: 160px;
     margin-top: 320px;
     padding-bottom: 17px;
     padding-top: 7px;
     margin-left: 0px;
     padding-left: 5px;
    background-color:rgb(248, 246, 244) ;
}

#img1 {
    object-fit:fill;
    box-sizing: content-box;
    width: 532px;
    height: 390px;
    margin-top: 2px;
    margin-left: -118px;
}
.iconoinsta{
    font-size: xx-large;
color: blue;
}