body {
    background-color: rgb(8, 7, 7);
    
}

.principal {
    margin: auto;
    width: 40%;

}

h1 {
    
    font-size: medium;

}

h2 {
    font-size: medium;

}

.h1fd {
    
    width: auto;
    height: 30px;
    padding-bottom: 20px;
    background-color: rgb(248, 246, 244);

}

#titulo {
    box-sizing: content-box;
    margin-top: auto;


}

#puntos {
    font-size: xx-large;
    color: rgb(125, 118, 118);
    margin-right: auto;

}

#coment {
    box-sizing: content-box;
    width: auto;
    height: 160px;
    padding-bottom: 45px;
    padding-top: 10px;
    padding-left: 5px;
    text-align: left;
    background-color: rgb(248, 246, 244);
}

#img1 {
    object-fit: fill;
    width: auto;
    height: 300px;
    
}

.iconoinsta {
    font-size: xx-large;
    color: black;

}

.iconoscoment {
    display: flex;
    font-size: x-large;
    letter-spacing: 7px;
    margin-left: 4px;


}

#corazon {
    color: rgb(172, 10, 10);
}

#save {
    padding-left: 75%;
}

